<div class="footer">
    <a class="fb-ic mr-3" role="button" href="https://www.facebook.com/" target="_blank"><i
            class="fa fa-lg fa-facebook-f"></i></a>
    <a class="fb-ic mr-3" role="button" href="https://www.twitter.com/" target="_blank"><i
            class="fa fa-lg fa-twitter"></i></a>
    <a class="fb-ic mr-3" role="button" href="https://www.instagram.com/" target="_blank"><i
            class="fa fa-lg fa-instagram"></i></a>
    <a class="fb-ic mr-3" role="button" href="https://www.pinterest.es/" target="_blank"><i
            class="fa fa-lg fa-pinterest"></i></a>
    <a class="fb-ic mr-3" role="button" href="https://www.gmail.com/" target="_blank"><i
            class="fa fa-lg fa-envelope"></i></a>
</div>