<div id="top"></div>

<div>

    <div class="blog-main">
        <div class="blog-posts">

            <div class="blog-post card" *ngFor="let post of arrPostsRecibidos, let indice=index;">
                <img class="card-img-top" [src]="post.imagen">
                <h5 class="text-center" [ngClass]="post.categoria">{{post.categoria | titlecase}}</h5>
                <h4 class="title text-center">{{post.titulo}}</h4>
                <p class="text" *ngIf="this.leerMas == true">{{post.texto | textLongitud: 150}}</p>
                <p class="text" *ngIf="this.leerMas == false">{{post.texto}}</p>
                <a class="enlace text-warning" (click)="onClickLeerMas()">Leer mas</a>
                <p class="text mt-1">autor: {{post.autor}}</p>
                <p class="text-muted mt-3"><strong>{{post.fecha | date:'mediumDate' }}</strong></p>

                <button class="btn btn-outline-warning w-50" (click)="onClickBorrar(indice)">Eliminar Post</button>
            </div>

            <a href="#top" class="arrow-top d-flex flex-row-reverse">
                <i class="fas fa-angle-double-up"></i>
            </a>

        </div>

        <div class="sidebar">
            <select class="browser-default custom-select w-70" (change)="onChange($event)">
                <option disabled selected>Selecciona un categoria</option>
                <option value="todas">Todas</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.nombre">
                    {{ categoria.nombre | titlecase }} ({{ categoria.num }})
                </option>
            </select>

            <ul>
                <p><b>Categorias activas:</b></p>
                <li>Cultura ({{ blogService.getNumPostByCategoria('cultura') }})</li>
                <li>Ocio ({{ blogService.getNumPostByCategoria('ocio') }})</li>
                <li>Estilo ({{ blogService.getNumPostByCategoria('estilo') }})</li>
                <li>Gastro ({{ blogService.getNumPostByCategoria('gastro') }})</li>
                <li>Viaje ({{ blogService.getNumPostByCategoria('viaje') }})</li>
            </ul>

            <ul>
                <p><b>Autores del blog:</b></p>
                <li *ngFor="let autor of autores">
                    <img class="img-autor" src="./assets/images/avatar_{{autor.toLowerCase()}}.jpg">
                    {{autor}}
                </li>
            </ul>
        </div>
    </div>
</div>