
@import '~font-awesome/css/font-awesome.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.header .head{
    display: flex;
}
.header h1{
    font-weight: 700;
    margin-top: 20px;
}
.header .head div{
    height: 40px;
    width: 40px;
    background-color: #ffbb33;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 10px;
}
.header img{
    width: 400px;
    padding:  10px;
    margin-bottom: 10px;
}
.botones{
    border-top: 1.5px solid #8a8a8a;
}
.botones div:last-child {
    margin-top: 20px;
}
.botones div:last-child a{
    color: black;
}
.botones button{
    margin-top: 15px;
    margin-right: 10px;
}
.botones button:hover{
    color: black;
}
.blog-posts{
    margin-top: 15px;
}
.blog-posts .arrow-top{
    color: #8a8a8a;
    font-size: 2em;
}
.blog-post{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    border-style: none;
    margin-top: 30px;
    border-bottom: 1px solid #8a8a8a;
}
.blog-post img{
    width: 100%;
}
.blog-post button{
    margin-bottom: 20px;
    margin-left: 50%;
}
.blog-post h5{
    background-color: lightgrey;
    padding-bottom: 5px;
}
.blog-post h4{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.75em;
    margin-top: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #202020;
    margin-top: 8px;
}
.footer i{
    margin-top: 30px;
    color: white;
}

