
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.header .head{
    display: flex;
}
.header h1{
    font-weight: 700;
    margin-top: 20px;
}
.header .head div{
    height: 40px;
    width: 40px;
    background-color: #ffbb33;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 10px;
}
.header img{
    width: 400px;
    padding:  10px;
    margin-bottom: 10px;
}
.botones{
    border-top: 1.5px solid #8a8a8a;
}
.botones button{
    margin-top: 15px;
    margin-right: 10px;
}
.botones button:hover{
    color: black;
}
.blog-posts{
    margin-top: 15px;
}
.blog-post{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    border-style: none;
    margin-top: 30px;
    border-bottom: 1px solid #8a8a8a;
}
.blog-post img{
    width: 100%;
    margin-bottom: 25px;
}
.blog-post button{
    margin-bottom: 20px;
    margin-left: 50%;
}
.blog-post h5{
    background-color: lightgrey;
    padding-bottom: 5px;
}


